body {
	text-align: center;
	font-family: 'Quattrocento', serif;
	color: black;
}
a {
	color: black;
	text-decoration: underline;
}
section a:visited {
	text-decoration: underline;
	color: black;
}
section a:hover {
	cursor: pointer;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.5em;
	padding-bottom: 1em;
}

i {
	font-size: 1.5em;
	margin: 1em;
}
#about, #work, #hireMe {
	margin: 1em;
}
.selected {
	margin-bottom: 3em;
}
.selected p{
	font-size: 1.15em;
	font-weight: 500;
}
.selectedItem {
	margin-bottom: 1.25em;
}
img{
	height: 65%;
	width: 65%;
	margin-bottom: 1em;
}
div.listedClips {
	text-align: left;
}
div.listedClips p{
	margin-bottom: 1.5em;
}
#work, #hireMe {
	margin-bottom: 3em;
}
/*begin tablet styling*/
@media (min-width: 600px){
	#about, .listedClips, #hireMe {
		margin-left: 5em;
		margin-right: 5em;
	}

	.selected img{
		width: 255px;
		height: 150px;
	}
	.selected .selectedItem {
		margin-bottom: 2em;
	}
	#about, #work, #hireMe, .selected {
		margin-bottom: 5em;
	}
	#about, #hireMe {
		margin-left: 6em;
		margin-right: 6em;
	}
}

@media (min-width: 1024px){
	#about, #hireMe {
		margin-left: 10em;
		margin-right: 10em;
	}
	#about, #work, #hireMe, .heading p{
		font-size: 1.15em;
	}
	h2 {
		font-size: 1.5em;
	}
		.selected {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-right: 3em;
		margin-left: 3em;
	}
	.selectedItem {
		flex-basis: 33%;
	}
}
@media (min-width: 1440px){
	#home, #about, #work, #hireMe{
		margin-left: 12em;
		margin-right: 12em;
		font-size: 1.25em;
	}
	h2{
		padding-bottom: 1.5em;
		font-size: 1.5em;
	}
		.selected img{
		width: 275px;
		height: 175px;
	}
}
@media (min-width: 1600px){
	#home, #about, #work, #hireMe {
		margin-left: 15em;
		margin-right: 15em;
	}
	#about, #hireMe {
		padding-left: 5em;
		padding-right: 5em;
	}
	#about h2, #hireMe h2{
		padding-bottom: .75em;
	}
}
@media (min-width: 1800px){
	#home, #about, #work, #hireMe {
		margin-left: 20em;
		margin-right: 20em;
	}
}